# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#ignore ~ files
*~
*.gif
*.kate-swp
CMakeFiles/*
CMakeCache.txt
Makefile
cmake_install.cmake
stats/*
build/*
!build/Makefile
!build/*.make
*.swp

#ignore test output
*.err
*.out

#stupid autotools crap
.deps/
AUTHORS
COPYING
ChangeLog
INSTALL
Makefile.in
NEWS
README
aclocal.m4
autom4te.cache/
autoscan.log
cinterpreter
compile
config.log
config.status
configure.scan
depcomp
install-sh
missing
src/.deps/
src/.dirstamp

